@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-body-l: 21%;
    --color-body-c: 0.032;
    --color-body-h: 265;

    --color-primary-l: 81%;
    --color-primary-c: 0.22;
    --color-primary-h: 147;
  }

  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  ::-webkit-color-swatch {
    border: none;
  }
}
